body {
	font-family: sans-serif, Arial;
	width: 250px;
}

#loader {
	margin-top: 1em;
	border: 3px solid #f3f3f3;
	border-top: 3px solid #3498db;
	border-radius: 50%;
	width: 10px;
	height: 10px;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.hidden {
	display: none;
}

table {
	width: 100%;
	border-collapse: collapse;
}

tr:not(:last-of-type) {
	border-bottom: 1px solid;
}

td {
	padding-top: 10px;
}

button {
	background-color: white;
	color: white;
	border: none;
	cursor: pointer;
}

button:hover {
	background-color: white;
}

.button-green {
	background-color: #4caf50;
	color: white;
	padding: 5px 5px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.button-green:hover {
	background-color: #45a049;
}